<div id="FullScreen" (swiperight)="swipeRight()" (swipeleft)="swipeLeft()">

  <nav>
    <!-- <img src="" alt="Menu"  id="DropDownButton"> -->
    <ul id="DropDownList">
      <li class="DropDownOption" (tap)="MenuHome()"><h3>Home</h3></li>
      <li class="DropDownOption" (tap)="MenuAsk()"><h3>Ask Airps</h3></li>
      <li class="DropDownOption" (tap)="MenuPlay()"><h3>Play Airps</h3></li>
      <li class="DropDownOption" (tap)="MenuUpdate()"><h3>Update Airps</h3></li>
      <!-- <li class="DropDownOption" (tap)="MenuData()"><h3>Data"</h3></li> -->
    </ul>
    <h1 id="Title">A.I.R.P.S.</h1>
  </nav>

  <div id="description">
    <p>Hello, my name is Airps.</p>
    <p>I am your friendly AI Rock/Paper/Scissors Advisor</p>
    <p>With my help, you should be able to maximize your R/P/S odds</p>
    <p>If you want to learn more about the psychology of R/P/S, <a href="http://worldrps.com/rps-strategy-guide/" target=_blank>click here</a></p>
  </div>

  <div class="guide otherButton">
    <h3>Ask Airps</h3>
    <h1>&#x2190;</h1>
  </div>
  <div class="guide otherButton">
    <h3>Play Airps</h3>
    <h1>&#x2192;</h1>
  </div>

  <!-- <div>
    <button class="otherButton" (tap)="tapUpdate()">Add A Game</button>
    <button class="otherButton" (tap)="tapStats()">Stats</button>
  </div>

  <div class="container">
    <p class="test">Rock</p>
    <p class="test">Paper</p>
    <p class="test">Scissors</p>
  </div>

  <div class="container">
    <p class="test">&#x270a;</p>
    <p class="test">&#x270b;</p>
    <p class="test">&#x270c;</p>
  </div> -->

</div>
