*{
    margin: 0px;
    padding: 0px;
    text-align: 0px;
}

@media only screen and (max-width: 600px){
    #Title {
        color: Black
    }

    #testDiv {
        background-color: lightblue;
    }
    
    #FullScreen{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        background-color: #41799b;
    }
    
    .guide{
        display: inline-block;
        width: 49.5%;
    }
    
    .test{
        width: 33%;
        display: inline-block;
        outline: 1px solid black;
        font-size: 30px;
        font-weight: bolder;
        color: black;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    
    .otherButton{
        text-align: center;
        width: 40%;
        margin: 0px 5%;
        
    }
    
    #DropDownButton{
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
    }
    .DropDownOption{
        text-align: center;

    }
    #Title{
        display: inline-block;
        text-align: center;
        background-color: darkslategrey;
        border-radius: 5px;
        width: 33%;
        margin: 5% 33%;
    
    }
    
    #description{
        text-align: center;
        margin-bottom: 5%;
    }

    #DropDownList {
        position: absolute;
        top: 10%;
        left: 5%;
        /* background-color: rbga(192,192,192,1); */
        background-color: rgba(192,192,192,.85);
        outline: 1px solid black;
        color: white;
        display: none;
        width: 90%;

        list-style: none;

        
    }
}
@media only screen and (min-width: 600px){
    /* * {
        outline: 1px dotted red;
    } */
    #Title {
        color: Black
    }

    #testDiv {
        background-color: lightblue;
    }
    
    #FullScreen{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        background-color: #bfc6ca;
        padding: 5%;
    }
    
    .guide{
        display: inline-block;
        width: 49.5%;
    }
    
    
    .otherButton{
        text-align: center;
        width: 40%;
        margin: 0px 2.5%;
        margin-top: 5%;
        
    }
    
    #DropDownButton{
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
    }
    .DropDownOption{
        text-align: center;

    }

    #DropDownList {
        position: absolute;
        top: 25%;
        left: 25%;
        /* background-color: rbga(192,192,192,1); */

        /* display: relative; */
        background-color: rgba(192,192,192,.85);
        outline: 1px solid black;
        color: white;
        display: none;
        width: 30%;

        list-style: none;

        
    }

    #Title{
        display: block;
        text-align: center;
        background-color: darkslategrey;
        border-radius: 50%;
        width: 100%;
        padding: 45% 0px;
        /* padding-bottom: 90%; */
    }
    
    #description{
        display: inline-block;
        text-align: center;
        margin-bottom: 5%;
        width: 60%;
        
    }
    #description p{
        font-size: larger;
        margin: 2% 0px;
    }

    nav{
        /* display: table; */
        display: inline-block;
        vertical-align: top;
        margin-right: 10%;
        width: 20%;
        
    }

    


}


